version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: si-releves-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - si-releves-network

  backend:
    build: .
    container_name: si-releves-backend
    restart: unless-stopped
    depends_on:
      - mysql
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - si-releves-network

volumes:
  mysql_data:

networks:
  si-releves-network:
    driver: bridge
